<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">
    <!--jdbc配置位置映射-->
    <context:property-placeholder location="classpath:system-config.properties"/>

    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" lazy-init="true">
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.user}"/>
        <property name="password" value="${jdbc.password}"/>
        <!--连接池中最大连接数量-->
        <property name="maxActive" value="15"/>
        <!--数据库连接池中最少连接数量-->
        <property name="minIdle" value="5"/>
    </bean>

    <!--mybatis sqlSessionFactory配置-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
        <property name="dataSource" ref="dataSource"/>
        <property name="mapperLocations" value="classpath:map/*.xml"/>
    </bean>

    <!--配置扫描dao接口包，mybatis动态实现dao接口，注入spring容器-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
        <property name="basePackage" value="cn.mccreefei.dao"/>
    </bean>



</beans>